{
    "presets": [
        "@babel/preset-env", 
        "@babel/preset-react"
    ],
    "plugins": [
        // This plugin transforms es2015 static class properties as well as properties declared with the es2016 property initializer syntax.
        "transform-class-properties", 
        // A plugin that enables the re-use of Babel's injected helper code to save on codesize.
        "@babel/plugin-transform-runtime"
    ],
    "env": {
        "production": {
          // This plugin removes all console.* calls on production mode only.
          "plugins": ["transform-remove-console"]
        }
    }
}